<!--NAVBAR-->
<div class="container-fluid">
  <nav class="fixed-top navbar navbar-light pagedit">        
      <a class="navbar-brand float-left" routerLink="/user/{{uid}}/website/{{wid}}/page">
          <i class="fas fa-chevron-left ibangkulay"></i>
      </a>
          <div class="left90 ibangkulay" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget">
              <b>Widget List</b>
          </div>
      <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new">
          <i class="fas fa-plus-square float-right ibangkulay"></i>
      </a>
  </nav>
</div>
<br>
<br>
<br>
<!--CONTENTS-->
      <!--Widgets-->
<div *ngFor="let widget of widgets">    
<div class="posicon">
  <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}"><i class="fas fa-cog icgold"></i></a>
  <i routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget" class="fas fa-th-list icsil"></i>
</div>                    
<div [ngSwitch]="widget.widgetType" class="pula gitna">
  <div *ngSwitchCase="'HEADING'">
    <div [ngSwitch]="widget.size">
      <div *ngSwitchCase="1">
        <h1>{{widget.text}}</h1>
      </div>
      <div *ngSwitchCase="2">
        <h2>{{widget.text}}</h2>
      </div>
      <div *ngSwitchCase="3">
        <h3>{{widget.text}}</h3>
      </div>
      <div *ngSwitchCase="4">
        <h4>{{widget.text}}</h4>
      </div>
      <div *ngSwitchCase="5">
        <h5>{{widget.text}}</h5>
      </div>
      <div *ngSwitchCase="6">
        <h6>{{widget.text}}</h6>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'IMAGE'">
    <img [src]="widget.url"[style.width]="widget.width" />
  </div>
  <div *ngSwitchCase="'YOUTUBE'">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe [src]="parseYoutubeSrc(widget.url)" [style.width]="widget.width" allowfullscreen></iframe>
    </div>
  </div>
</div>      
<br>
</div>
<div class="extdown">  
</div>
<!--FOOTER IS HERE-->
<div>
<nav class="navbar navbar-light pagedit fixed-bottom">
  <div class="usogbaba">
      <i class="fas fa-play gitnato float-left ibangkulay"></i>
      <i class="iconpadd float-left far fa-eye gitnato ibangkulay"></i>
      <a class routerLink="/user/{{uid}}"><i class="float-right fas fa-user ibangkulay"></i></a>
  </div>
</nav>
</div>     