<div>
  <nav class="fixed-top navbar navbar-light navtaas">        
      <a class="navbar-brand float-left" routerLink="/profile">
          <i class="fas fa-chevron-left putinglogo"></i>
      </a>
          <div class="left90 putinglogo" routerLink="/user/{{uid}}/website">
              <b>Websites</b>
          </div>
      <a routerLink="/user/{{uid}}/website/new">
          <i class="fas fa-plus-square float-right putinglogo"></i>
      </a>
  </nav>
</div>
<br>
<br>
<!--LIST STARTS HERE-->
<div>    
  <ul class="list-group container">
      <br>
      <li class="list-group-item" *ngFor = "let website of websites">
          <a routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
          <a routerLink="/user/{{uid}}/website/{{website._id}}" class="float-right"><i class="fas fa-cog"></i></a>
      </li>      
  </ul>
</div>
<!--FOOTER-->
<nav class="navbar navbar-light navtaas fixed-bottom">
  <div class="usogbaba">
      <a class="float-right" routerLink="/profile">
          <i class="fas fa-user putinglogo"></i>
      </a>
  </div>
</nav>         