<h1 class="gitna">Log In</h1>   
        <form>
            <div class="container">
            <input class="form-control" [(ngModel)]="username" type="text" placeholder="username">
            </div>
        <br>
            <div class="container">
            <input class="form-control" [(ndModel)]="password" type="password" placeholder="password">
            </div>
        <br>
            <div class="container">
                <a routerLink="/user/:uid" class="logbutt btn btn-block">Log In</a>
            </div>
        <br>
            <div class="container">
                <a routerLink="/register" id="allreg" class="btn btn-block">Register</a>
            </div>
        </form>