<div>
    <!--NAV-->
    <div>
        <nav class="navbar pagedit">            
          <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><i class="fas fa-chevron-left ibangkulay"></i></a>
          <a class="ibangkulay" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{wgid}}"><b>Widget Edit</b></a>
          <button class="float-right ibangkulay btn bg-transparent" form="myForm" type="submit"><i class="fas fa-check"></i></button>
        </nav>
    </div>
    </div>
    <br>
  <!--FORM IS HERE-->
    <div class="container">
        <form id="myForm" #myForm="ngForm" (ngSubmit)="update()">
            <div class="form-group">
                <label for="URL"><b>URL</b></label>
                <input [(ngModel)]="widget.url" name="url" class="form-control" type="url" placeholder="Youtube Url" id="url">    
            </div>
            <div class="form-group">
                <label for="Width"><b>Width</b></label>
                <input [(ngModel)]="widget.width" name="width" class="form-control" type="text" placeholder="Youtube Width" id="width">    
            </div>               
        </form>
    </div>
    <br>
    <!--BUTTON IS HERE-->
    <div class="container">                                                                                                   
        <div>
            <button type="button" (click)="delete()" class="btn btn-block btn-lg pula">Delete</button>
        </div>
    </div>
    <!--FOOTER IS HERE-->
    <div>   
        <nav class="navbar navbar-light pagedit fixed-bottom">
            <div class="usogbaba ibangkulay">
                <a class="float-right" routerLink="/profile">
                    <i class="fas fa-user ibangkulay"></i>
                </a>
            </div>
        </nav>     
    </div>
    <br>
    <br>
    <br>
    