<div>  
      <nav class="fixed-top navbar navbar-light navtaas">        
        <a class="navbar-brand float-left" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget">
            <i class="fas fa-chevron-left putinglogo"></i>
        </a>
              <div class="left90 ibangkulay" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new">
                  <b>Choose Widget</b>
              </div>                           
      </nav>
</div>
<br>
<br>
<br>
<!--LIST STARTS HERE-->
<div>
  <ul class="list-group container">           
      <li class=list-group-item><span (click)="create('HEADING')" class="pointer">Heading</span></li>
      <li class=list-group-item><a>Label</a></li>
      <li class=list-group-item><a>HTML</a></li>
      <li class=list-group-item><a>Text Input</a></li>
      <li class=list-group-item><a>Link</a></li>
      <li class=list-group-item><a>Button</a></li>
      <li class=list-group-item><span (click)="create('IMAGE')" class="pointer">Image</span></li>
      <li class=list-group-item><span (click)="create('YOUTUBE')" class="pointer">Youtube</span></li>
      <li class=list-group-item><a>Data Table</a></li>
      <li class=list-group-item><a>Repeater</a></li>
  </ul>
</div>
<!--FOOTER-->
<nav class="navbar navbar-light pagedit fixed-bottom">
  <div class="usogbaba">
      <a class="float-right" routerLink="/profile">
          <i class="fas fa-user ibangkulay"></i>
      </a>
  </div>
</nav>     