<!--NAV BAR-->
<nav class="navbar navbar-light navtaas row">  
  <!--LEFT NAV--> 
      <div class="col-4 d-none d-lg-block">
          <a routerLink="/user/{{uid}}/website"><i class="fas fa-chevron-left putinglogo"></i></a>
              <a class="putinglogo padsaleft" routerLink="/user/{{uid}}/website/new"><b>Websites</b></a>
          <a class="putinglogo float-right" routerLink="/user/{{uid}}/website/new"><i class="fas fa-plus-square"></i></a>
      </div>
  <!--RIGHT NAV-->
      <div class="col-lg-8">
    <a class="d-lg-none" routerLink="user/{{uid}}/website"><i class="fas fa-chevron-left putinglogo"></i></a>
              <a class="putinglogo" routerLink="/user/{{uid}}/website/new"><b>New Website</b></a>
          <button type="submit" form="myForm" class="btn bg-transparent float-right putinglogo"><i class="fas fa-check"></i></button>
      </div>
</nav>    
<br>
<!--LIST & FORM-->
<!--LEFT side-->
  <div class="row">            
      <div class="col-4 d-none d-sm-block container-fluid">
          <div>
              <ul class="list-group container" *ngFor="let website of websites">                        
                  <li class=list-group-item><a routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
                      <a routerLink="/user/{{uid}}/website/{{website._id}}" class="float-right"><i class="fas fa-cog"></i></a></li>                  
              </ul>                
          </div>            
      </div>
<!--RIGHT side-->
      <div class="col-8">
          <div class="container-fluid">
              <form id="myForm" #myForm="ngForm" (ngSubmit)="createWebsite()">
                  <div>
                      <label for="Name"><b>Name</b></label>
                      <input [(ngModel)]="name" name="name" id="Name" required class="form-control" type="text" placeholder="Name">
                  </div>
                  <br>
                  <div>
                      <label for="Description"><b>Description</b></label>
                      <textarea [(ngModel)]="description" name="description" id="Description" rows="5" class="form-control" type="text" placeholder="Description"></textarea>        
                  </div>
                  <br>
<!--BUTTONS STARTS HERE-->
                  <a class="btn btn-block btn-lg btn-warning" routerLink="/user/{{uid}}/website">Cancel</a>
                  <button type="submit" class= "btn btn-block btn-lg btn-success float-right" >Submit</button>
              </form>
          </div>
      </div>
  </div>
<!--FOOTER-->         
<nav class="navbar navbar-light navtaas fixed-bottom">
  <div class="usogbaba">
      <a class="float-right" routerLink="/user/{{uid}}"><i class="fas fa-user putinglogo"></i></a>
  </div>
</nav>