<h1 class="gitna">Register</h1>     
        <div class="container">
            <form>
                <input class="form-control" type="text" placeholder="username">     
                <br>
                <input class="form-control" type="password" placeholder="password">
                <br>
                <input class="form-control" type="password" placeholder="verify password">
                <br>
                <a routerLink="/user/:uid" id="allreg" class="btn btn-block">Register</a>
                <br>
                <a routerLink="/login" class="kans btn btn-block">Cancel</a>
            </form>
        </div>