<h1 class="gitna">Register</h1>     
        <div class="container">
            <form (ngSubmit)="register()" #myForm="ngForm">
                <div *ngIf="userError" class="alert alert-danger">This username is taken, please try another one</div>
                <div *ngIf="passwordError" class="alert alert-danger">Passwords don't match, please try again</div>
                <input [(ngModel)]="username" name="username" required class="form-control" type="text" placeholder="username" #userInput="ngModel">
                <div *ngIf="userInput.invalid && userInput.touched" class="alert alert-warning">Username cannot be empty</div>     
                <br>
                <input [(ngModel)]="password" name="password" required class="form-control" type="password" placeholder="password" #passwordInput="ngModel">
                <div *ngIf="passwordInput.invalid && passwordInput.touched" class="alert alert-warning">Password cannot be empty</div>
                <br>
                <input [(ngModel)]="verifyPassword" name="verifyPassword" required class="form-control" type="password" placeholder="verify password" #verifyPasswordInput="ngModel">
                <div *ngIf="verifyPasswordInput.invalid && verifyPasswordInput.touched" class="alert alert-warning">Please Enter the Password Again</div>
                <br>
                <button [disabled]="myForm.invalid" type="submit" id="allreg" class="btn btn-block">Register</button>
                <br>
                <a routerLink="/login" class="kans btn btn-block">Cancel</a>
            </form>
        </div>